<!DOCTYPE html>
<html>
<head>
<title>AI Resume Analyzer</title>
<style>
body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    text-align: center;
    color: white;
}
.container {
    background: white;
    color: black;
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
}
select, input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}
button {
    background: #667eea;
    color: white;
    border: none;
}
.top {
    text-align: right;
    padding: 10px;
}
</style>
</head>
<body>

<div class="top">
    <a href="/logout" style="color:white;">Logout</a>
</div>

<div class="container">
<h2>🚀 AI Resume Analyzer</h2>

<form action="/analyze" method="POST" enctype="multipart/form-data">

<label>Select Job Role:</label><br>
<select name="job_role" required>
<option value="">-- Select Role --</option>
<option value="data_analyst">Data Analyst</option>
<option value="python_developer">Python Developer</option>
<option value="web_developer">Web Developer</option>
<option value="java_developer">Java Developer</option>
<option value="ai_engineer">AI Engineer</option>
</select>

<br>

<label>Upload Resume (PDF or DOCX)</label><br>
<input type="file" name="resume" 
accept=".pdf,.docx" required>

<br>

<button type="submit">Analyze Resume</button>

</form>

{% if result %}
<p><b>{{ result }}</b></p>
{% endif %}

{% if found_skills %}
<p><b>Skills Found:</b> {{ found_skills }}</p>
{% endif %}

{% if missing_skills %}
<p><b>Missing Skills:</b> {{ missing_skills }}</p>
{% endif %}

</div>

</body>
</html>